@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;

  --primary: oklch(0.83 0.0989 86.61);
  --secondary: oklch(0.63 0.0814 78.3);

  --background-primary: oklch(1 0 0);
  --background-secondary: oklch(0.97 0.0025 345.21);
  
  --foreground-primary: oklch(0.26 0.0112 293.24);
  --foreground-secondary: oklch(1 0 0);
  --foreground-thirdly: oklch(0 0 0);
  --foreground-muted: oklch(0.76 0 0);

  --border-primary: oklch(0.83 0.0989 86.61);
  --border-secondary: oklch(0.89 0 0);

  --accent-primary: oklch(0.83 0.0989 86.61);
 }

@theme inline {
  --font-chibola: var(--font-chibola);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);

  --color-foreground-primary: var(--foreground-primary);
  --color-foreground-secondary: var(--foreground-secondary);
  --colr-foreground-thirdly: var(--foreground-thirdly);
  --color-foreground-muted: var(--foreground-muted);

  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);

  --color-accent-primary: var(--accent-primary);
}

@layer base {
  * {
    border-color: var(--border);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    height: 100vh;
    background-color: var(--background-primary);
    color: var(--foreground-primary);
    font-family: var(--font-montserrat);
    font-weight: 300;
    overscroll-behavior: none;
  }
}

@layer utilities {
  .bg-promo-background-image {
    background-image: linear-gradient(rgba(5, 0, 5, 0.75), rgba(5, 0, 5, 0.75)),
      url('../../shared/assets/images/promo-background.png');
  }
}