.review {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
  padding: 5rem 4rem;
  background-color: white;
  z-index: 1;

  @media (max-width: 768px) {
    padding: 3rem 1rem;
  }
}

.cutout {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 128px;
  height: 128px;
  background-color: #F6F4F5;
  border-radius: 50%;

  @media (max-width: 768px) {
    width: 78px;
    height: 78px;
  }
}

.reviewAuthorImgContainer {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 768px) {
    width: 58px;
    height: 58px;
  }
}

.reviewAuthorImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quotesImg1Container,
.quotesImg2Container {
  position: absolute;
  width: 48px;
  height: 48px;

  @media (max-width: 768px) {
    width: 24px;
    height: 24px
  }
}

.quotesImg1Container {
  left: 5%;
  top: 90%;

  @media (max-width: 768px) {
    top: 95%
  }
}

.quotesImg2Container {
  left: 90%;
  top: -5%;
  transform: rotate(180deg);

  @media (max-width: 768px) {
    left: 85%;
    top: -2%;
  }
}

.quotesImg1,
.quotesImg2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.reviewTextContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media (max-width: 768px) {
    gap: 2rem;
  }
}

.reviewText,
.reviewAuthor,
.reviewAuthorJobTitle {
  margin: 0;
  text-align: center;
}

.reviewText {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 0.875rem;
  }
}

.reviewAuthorInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media (max-width: 768px) {
    gap: 0.875rem;
    font-size: 0.875rem;
  }
}

.reviewAuthor {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 0.875rem;
  }
}

.reviewAuthorJobTitle {
  font-size: 0.875rem;
  font-weight: 300;
  color: #B1B1B1;

  @media (max-width: 768px) {
    font-size: 0.695rem;
  }
}
