.input {
  width: 60%;
  padding: 1.25rem;
  font-size: 1rem;
  font-weight: 300;
}
.input::placeholder {
  color: #B1B1B1;
  font-weight: inherit;
}

@media (max-width: 768px) {
  .input {
    width: 50%;
    padding: 0.5rem;
  }
}