/*  promoSection */

.promoSection {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.promoSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -8px;
  background-image: linear-gradient(rgba(5, 0, 5, 0.75), rgba(5, 0, 5, 0.75)), url('../../assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px);
  opacity: 0.92;
}

.promoContent {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  width: 100%;
  padding: 0 4rem 3rem;

  @media (max-width: 1024px) {
    gap: 2.75rem;
    padding: 0 2.75rem 2rem;
  }

  @media (max-width: 768px) {
    justify-content: center;
    padding: 1.5rem 0.75rem;
  }
}

.promoTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 4rem;

  @media (max-width: 1024px) {
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.75rem;
  }

  @media (max-width: 768px) {
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
}

.promoTitle {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  text-shadow:
    2px 2px 3px rgba(0, 0, 0, 0.7),
    -2px 2px 3px rgba(0, 0, 0, 0.7),
    2px -2px 3px rgba(0, 0, 0, 0.7),
    -2px -2px 3px rgba(0, 0, 0, 0.7),
    0px 2px 3px rgba(0, 0, 0, 0.7),
    0px -2px 3px rgba(0, 0, 0, 0.7),
    2px 0px 3px rgba(0, 0, 0, 0.7),
    -2px 0px 3px rgba(0, 0, 0, 0.7);
  
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}


.promoSignUpContainer {
  width: 80%;
  margin-left: 3rem;

  @media (max-width: 1024px) {
    margin: 0;
  }
}

.promoLogoContainer {
  flex-shrink: 0;
  width: 470px;
  height: 560px;

  @media (max-width: 1024px) {
    width: 370px;
    height: 460px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.promoLogo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* meschaneInfoSection */

.meschaneInfoSection {
  display: flex;
  background-color: #F6F4F5;
}

.stoneStairImgContainer {
  width: 517px;
  height: 594px;

  @media (max-width: 1024px) {
    width: 50%;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.stoneStairImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meschaninImgContainer {
  position: relative;
  min-width: 462px;

  @media (max-width: 1024px) {
    display: none;
  }
}

.meschaninImg {
  position: absolute;
  top: -20%;
  left: -5%;
  width: 100%;
  height: 728px;
}

.quotesImg {
  position: absolute;
  top: 50%;
  left: 80%;
  width: 48px;
  height: 48px;
}

.meschaneInfoTextContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-width: 500px;
  padding-right: 4rem;

  @media (max-width: 1024px) {
    width: 50%;
    padding: 2.75rem;
  }

  @media (max-width: 768px) {
    align-items: center;
    min-width: 0;
    padding: 2rem;
  }
}

.meschaneInfoLine {
  align-self: flex-start;
  width: 100%;
  margin: 0;
  border: none;
  border-top: 1px solid #A4834E;
}

.meschaneInfoText {
  margin: 1.5rem 0 3rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 1px;

  @media (max-width: 1024px) {
    margin: 1rem 0 2rem;
  }

  @media (max-width: 768px) {
    margin: 0.75rem 0 1.5rem;
    font-size: 0.75rem;
    text-align: center;
  }
}

.meschaneInfoAuthor {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;

  @media (max-width: 1024px) {
    gap: 0.5rem;
  }

  @media (max-width: 768px) {
    gap: 0.25rem;
    font-size: 0.75rem;
    text-align: center;
  }
}

.meschaneInfoJobTitle {
  color: #B1B1B1;
  font-size: 1rem;
  font-weight: 300;
  text-transform: none;

  @media (max-width: 768px) {
    font-size: 0.75rem;
  }
}

/* tryExcursionsSection */

.tryExcursionsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  padding: 4rem 4rem 8rem;
  background-image: url('../../assets/background2.png');
  background-repeat: no-repeat;
  background-position: right center;

  @media (max-width: 1024px) {
    gap: 2.5rem;
    padding: 2.75rem 2.75rem 5.5rem;
  }

  @media (max-width: 768px) {
    gap: 1.75rem;
    padding: 2rem 2rem 3.75rem; 
  }
}

.tryExcursionsHeadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;

  @media (max-width: 1024px) {
    gap: 0.75rem;
  }

  @media (max-width: 768px) {
    gap: 0.5rem;
  }
}

.tryExcursionsSubtitle {
  margin: 0;
  color: #B1B1B1;
  font-size: 2.375rem;
  font-weight: 300;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.tryExcursionsTitle {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 1.75rem;
  }
}

.highlightedLetter {
  color: #A4834E;
}

.benefitCardsContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;

  @media (max-width: 1024px) {
    gap: 1rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }
}

/* meschaneOfTaganrogSection */

.meschaneOfTaganrogSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 2.5rem;
  background-color: #F6F4F5;

  @media (max-width: 1024px) {
    gap: 2.75rem;
    padding: 2rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
  }
}

.meschaneOfTaganrogTitle {
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;

  @media (max-width: 1024px) {
    margin-bottom: 2.75rem;
  }

  @media (max-width: 768px) {
    margin: 0;
    font-size: 1.5rem;
  }
}

.meschaneOfTaganrogImagesContainer {
  display: flex;
  gap: 3rem;

  @media (max-width: 1024px) {
    gap: 2rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }
}

.meschaneOfTaganrogImgContainer {
  width: 280px;
  height: 414px;
  flex: 1;

  @media (max-width: 1024px) {
    width: 180px;
    height: 314px;
  }

  @media (max-width: 768px) {
    width: 250px;
    height: 364px;
  }
}

.meschaneOfTaganrogImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ourPartnersSection */

.ourPartnersSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem 4rem 5rem;
  background-image: url('../../assets/ourPartnersBackground.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #232228;

  @media (max-width: 1024px) {
    gap: 1.5rem;
    padding: 2.75rem 2.75rem 3.5rem;
  }

  @media (max-width: 768px) {
    gap: 1rem;
    padding: 2rem 2rem 2.5rem;
  }
}

.ourPartnersTitle {
  margin: 0;
  color: #A4834E;
  font-size: 3.25rem;
  font-weight: 900;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1.75rem;
  }
}

.ourPartnersImgContainer {
  width: 100%;
  max-width: 1196px;
  height: auto;
}

.ourPartnersTGLIAMZimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ourPartnersText {
  margin: 0;
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 0.75rem;
  }
}

/* reviewsSection */

.reviewsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 4rem;
  background-color: #F6F4F5;

  @media (max-width: 1024px) {
    gap: 4rem;
    padding: 2.75rem;
  }

  @media (max-width: 768px) {
    gap: 2.75rem;
    padding: 2rem 1rem;
  }
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 100%;

  @media (max-width: 1024px) {
    gap: 2.75rem;
  }

  @media (max-width: 768px) {
    gap: 2.5rem;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  width: 100%;

  @media (max-width: 1024px) {
    gap: 5.5rem;
  }

  @media (max-width: 768px) {
    gap: 1.5rem;
  }
}

.arrowLeftButton,
.arrowRightButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: none;
  background-color: #A4834E;
  cursor: pointer;

  @media (max-width: 1024px) {
    height: 40px;
  }

  @media (max-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

.paginationContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 25%;

  @media (max-width: 768px) {
    width: 75%;
  }
}

.paginationButton {
  width: 8px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;

  @media (max-width: 768px) {
    height: 10px;
  }
}

.paginationButtonActive {
  width: 12px;
  height: 18px;
  border: 3px solid #F6F4F5;
  background-color: #A4834E;
  outline: 2px solid #A4834E;

  @media (max-width: 768px) {
    width: 10px;
    height: 12px;
    border: 1px solid #F6F4F5;
  }
}

/* goodToKnowSection */

.goodToKnowSection {
  display: flex;
  justify-content: center;
  padding: 4rem;

  @media (max-width: 1024px) {
    padding: 2.75rem;
  }

  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
}

.goodToKnowWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;

  @media (max-width: 1024px) {
    gap: 2.25rem;
  }
}

.goodToKnowHeadingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: 768px) {
    width: auto;
  }
}

.goodToKnowButtonContainer {
  width: 180px;
  height: 60px;
}

.readMoreCardsContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;

  @media (max-width: 1024px) {
    gap: 1.5rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
  }
}

/* subscribeSection */

.subscribeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 4rem 4rem 5rem;
  background-color: #F6F4F5;

  @media (max-width: 1024px) {
    gap: 2rem;
    padding: 2.75rem 2.75rem 3.5rem
  }

  @media (max-width: 768px) {
    gap: 2.5rem;
    padding: 2rem 1rem 2.5rem;
  }
}

.subscribeSignUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media (max-width: 1024px) {
    gap: 1.5rem;
  }
}

.subscribeText {
  margin: 0;
  color: #232228;
  font-size: 1.375rem;
  font-weight: 300;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.subscribeEmailContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;

  @media (max-width: 1024px) {
    gap: 0.75rem;
  }
}

.subscribeInputContainer {
  flex: 0.75
}

.subscribeButtonContainer {
  flex: 0.25
}

/* footerSection */

.footerSection {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.footerMapContainer {
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
    height: 300px;
  }
}

.footerMap {
  width: 100%;
  height: 100%;
}

.museumMapImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mapPointerImg {
  position: absolute;
  top: 25%;
  right: 50%;
  width: 60px;
  height: 70px;
}

.footerContactInfoWrapper {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 2.75rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../../assets/contactInfoBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 1024px) {
    padding: 2rem;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 1.5rem 1rem;
  }
}

.footerContactInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;

  @media (max-width: 1024px) {
    gap: 2rem;
  }

  @media (max-width: 768px) {
    align-items: center;
    gap: 1.5rem;
  }
}

.footerContactInfoTextContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (max-width: 1024px) {
    gap: 0.75rem;
  }
}

.footerParagraphsContainer {
  display: flex;
  gap: 4rem;

  @media (max-width: 1024px) {
    gap: 2.75rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }
}

.footerSignUpContainer {
  width: 75%;
}

.footerContactInfoPhoneNumber,
.footerContactInfoAddress,
.footerContactInfoEmail {
  margin: 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 0.75rem;
    text-align: center;
  }
}

.footerContactInfoHighlighted,
.footerContactInfoEmailLink {
  color: #E3C37A;
  font-weight: 300;
}

.footerContactInfoEmailLink {
  text-decoration: underline;
}

.allRightsReservedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;

  @media (max-width: 1024px) {
    padding: 1rem;
  }

  @media (max-width: 768px) {
    padding: 0.75rem;
  }
}

.allRightsReserved {
  margin: 0;
  color: #5D5D5D;
  font-size: 0.75rem;
  font-weight: 300;

  @media (max-width: 768px) {
    font-size: 0.5rem;
  }
}