.phoneSignUp {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 4rem;
}

.phoneSignUpText {
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 0.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
}

.orderContainer {
  display: flex;
  gap: 0.5rem;
  width: 85%
}

@media (max-width: 768px) {
  .phoneSignUp {
    align-items: center;
    width: 85%;
    margin: 0;
  }

  .phoneSignUpText {
    margin: 0;
  }

  .orderContainer {
    width: 100%;
    justify-content: center;
  }
}