{
  "plugins": [
    "prettier-plugin-prisma",
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "^next",
    "^react",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@[^/][^\\s]*$",
    "",
    "^@/app(/.*|$)",
    "^@/app-pages(/.*|$)",
    "^@/widgets(/.*|$)",
    "^@/features(/.*|$)",
    "^@/entities(/.*|$)",
    "^@/shared(/.*|$)",
    "",
    "^\\.\\./\\.\\./",
    "",
    "^\\.\\./",
    "",
    "^\\./",
    "",
    ".*\\.(css)$",
    "",
    ".*\\.(png|jpe?g|svg|gif)$"
  ],
  "tailwindStylesheet": "./src/app/assets/styles/globals.css",
  "tailwindFunctions": ["clsx", "cva"]
}
