.headerLink {
  color: #B1B1B1;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;

  @media (max-width: 768px) {
    padding: 0.5rem;
    border: 1px solid #B1B1B1;
    font-size: 1rem;
    text-align: center;
  }
}