.button {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 1px solid #E3C37A;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;

  @media (max-width: 768px) {
    padding: 0.875rem;
    font-size: 0.875rem;
  }
}

.buttonTextBlack {
  padding: 0.875rem;
  color: black;
  font-weight: 500;
}