.signUp {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.signUpTitle {
  margin: 0;
  padding-left: 0.5rem;
  color: white;
  /* font-size: 1.25rem; */
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.signUpOrderContainer {
  display: flex;
  gap: 0.75rem;
  width: 90%
}

.signUpInputContainer {
  width: 55%;
}

.signUpButtonContainer {
  width: 45%;
}