.signUp {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.signUpTitle {
  margin: 0;
  padding-left: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  /* font-size: 1.25rem; */
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.orderContainer {
  display: flex;
  gap: 0.75rem;
  width: 85%
}

.signUpInputContainer {
  width: 60%;
}

.signUpButtonContainer {
  width: 40%;
}

@media (max-width: 1024px) {
  .signUp {
    align-items: center;
    width: 75%;
    margin: 0;
  }

  .signUpTitle {
    margin: 0;
  }

  .orderContainer {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .signUpTitle {
    margin: 0;
  }

  .orderContainer {
    width: 100%;
    justify-content: center;
  }
}