.signUp {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media (max-width: 1024px) {
    gap: 1rem;
  }

  @media (max-width: 768px) {
    align-items: center;
    gap: 0.75rem;
  }
}

.signUpTitle {
  margin: 0;
  padding-left: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;

  @media (max-width: 768px) {
    padding: 0;
    font-size: 0.75rem;
  }
}

.signUpOrderContainer {
  display: flex;
  gap: 0.75rem;
  width: 100%;

  @media (max-width: 1024px) {
    gap: 0.5rem;
  }
}

.signUpInputContainer {
  width: 60%;

  @media (max-width: 768px) {
    width: 50%;
  }
}

.signUpButtonContainer {
  width: 40%;

  @media (max-width: 768px) {
    width: 50%;
  }
}