.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.hr {
  width: 100%;
  border: 1px solid #b1b1b12d;
}

@media (max-width: 768px) {
  .linksContainer {
    
  }
}