.hr {
  width: 100%;
  margin: 0;
  border: 1px solid #b1b1b12d;
}

@media (max-width: 640px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}