.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 32px;
  padding: 32px;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.hr {
  width: 100%;
  border: 1px solid #b1b1b12d;
}