.menu {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

@media (max-width: 768px) {
  .menu {
    padding: 0;
  }

  .linksContainer {
    flex-direction: column;
  }
}