.navMenu {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem;

  @media (max-width: 1024px) {
    gap: 1.5rem;
    padding: 1.5rem;
  }

  @media (max-width: 768px) {
    padding: 0
  }
}

.navLinksContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  @media (max-width: 1024px) {
    gap: 1.5rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.headerLink {
  position: relative;
  color: #B1B1B1;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease;

  @media (max-width: 768px) {
    padding: 0.75rem 0.5rem;
    border: 1px solid #B1B1B1;
    font-size: 0.875rem;
    text-align: center;
  }
}
.headerLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2rem;
  width: 0;
  height: 2px;
  background-color: #E3C37A;
  transition: width 0.5s ease;

  @media (max-width: 768px) {
    content: none;
  }
}
.headerLink:hover {
  color: #E3C37A;
}
.headerLink:hover::after {
  width: 100%;
}
.headerLink:active {
  color: #e3c37acc;
}